<!DOCTYPE html>
<html>

    <head>
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Sentence Pairs</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img class="margin-top-10percent width-10percent"
                         src="./media/horizontal_light.png" />
                </div>
            </div>
            <div class="row align-items-center height-70percent">
                <div class="col">
                    <h4 class="text-center">The alternative sentence fully and accurately expresses the meaning of the
                        model sentence</h4>
                    <div class="margin-top-5percent">
                        <p>{{sentence1}}</p>
                        <p class="text-secondary">{{sentence2}}</p>
                    </div>
                    <div class="row margin-top-10percent">
                        <div class="col">
                            <form action="/evaluation"
                                  method="POST">
                                <div class="row justify-content-center form-group">
                                    <div class="col-md-6">
                                        <label for="score"
                                               class="float-left">No Match</label>
                                        <label for=""
                                               class="float-right">Perfect Match</label>
                                        <input type="range"
                                               name="score">
                                    </div>
                                    <input type="hidden"
                                           name="idList"
                                           value={{idList}} />
                                    <input type="hidden"
                                           name="id"
                                           value={{sentencePairId}} />
                                    <input type="hidden"
                                           name="setId"
                                           value={{setId}} />
                                    <input type="hidden"
                                           name="evaluatorId"
                                           value={{evaluatorId}} />
                                    <input type="hidden"
                                           name="numOfPracticeSentences"
                                           value={{numOfPracticeSentences}} />
                                </div>
                                <div class="row justify-content-center form-group">
                                    <div class="col-md-2">
                                        <button type="submit"
                                                class="btn button-primary btn-block">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>