<!DOCTYPE html>
<html>

    <head>
        <link rel="shortcut icon"
              href="media/favicon.ico"
              type="image/x-icon" />
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Sentence Pairs</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
        <link rel="stylesheet"
              type="text/css"
              href="slider.css" />
    </head>

    <body class="bg-grey">
        <div>
            <img class="gourmet_logo"
                 src="./media/horizontal_light.png" />
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="row justify-content-center">
                        <div class="col">
                            <h3 class="text-center">Please read the two sentences in the box below and indicate with the
                                slider
                                to what extent you agree or disagree with the following statement:</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center evaluation__subtitle text-primary-dark-grey">
                        <div class="col-sm-10">
                            <p class="text-center">Sentence 2 (in grey) fully and accurately expresses the meaning of
                                Sentence 1, and is grammatically and idiomatically correct.</p>
                        </div>
                    </div>
                    <div class="evaluation__form">
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="text-black font-arial-black">Sentence 1:</p>
                            </div>
                            <div class="col-sm-10">
                                <p class="text-black">{{sentence1}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="text-grey font-arial-black">Sentence 2:</p>
                            </div>
                            <div class="col-sm-10">
                                <p class="text-grey">{{sentence2}}</p>
                            </div>
                        </div>
                        <div class="row margin-top-5percent">
                            <div class="col">
                                <form action="/evaluation"
                                      method="POST">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-11">
                                            <label for="q1Score"
                                                   class="float-left">strongly disagree</label>
                                            <label for=""
                                                   class="float-right">strongly agree</label>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center form-group">
                                        <div class="col-sm-9">
                                            <input type="range"
                                                   class="evaluation__form__slider"
                                                   name="q1Score">
                                        </div>
                                        <input type="hidden"
                                               name="id"
                                               value={{sentencePairId}} />
                                        <input type="hidden"
                                               name="setId"
                                               value={{setId}} />
                                        <input type="hidden"
                                               name="evaluatorId"
                                               value={{evaluatorId}} />
                                        <input type="hidden"
                                               name="numOfPracticeSentences"
                                               value={{numOfPracticeSentences}} />
                                        <input type="hidden"
                                               name="setSize"
                                               value={{setSize}} />
                                        <input type="hidden"
                                               name="sentenceNum"
                                               value={{sentenceNum}} />
                                    </div>
                                    <div class="row justify-content-center form-group">
                                        <div class="col-sm-2">
                                            <button type="submit"
                                                    class="btn button-primary btn-block">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="float-right">{{sentenceNum}}/{{setSize}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>